---
import { getEntries, getEntry } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import moment from 'moment';
import BlogTimestamp from "../../components/BlogTimestamp";

const files = await Astro.glob('../../content/blog/*.mdx');
const displayedFiles = files.filter(file => file.frontmatter.publishedAt != null).sort((a, b) => {
    return (b.frontmatter.publishedAt - a.frontmatter.publishedAt)
})


---
<PageLayout>
    <div class="flex flex-col gap-6">
        {displayedFiles.length < 1 && <p>No articles found.</p>}
    {displayedFiles.map(file => {
        const {frontmatter} = file;
        const match = file.url?.match(/[a-zA-Z0-9_-]*\.mdx$/g)?.[0]
    
        return <div>
            <a href={`/blog/${match?.split('.mdx')[0]}`} class="my-1">
                <h2 class="text-xl font-bold text-bluom-lighter">{frontmatter.title}</h2>
                <BlogTimestamp timestamp={frontmatter.publishedAt} client:load />
                <div>{frontmatter.description}</div>
            </a>
        </div>
    })}
    </div>
</PageLayout>