---
import Tooltip from "../Tooltip";
const {icon, link, label} = Astro.props; 
import Icon from 'astro-icon'
---
<Tooltip client:load label={label}>
    <a href={link} target={link.includes('http') ? '_blank' : '_self'} class="py-8 px-6 block text-bluom-light hover:text-bluom-lighter focus:text-bluom-lighter outline-none">
        <Icon name={icon} class="h-6" />
    </a>
</Tooltip>