---
import QuickFactItem from './QuickFactItem.astro'
---
<table class="table-auto w-full mt-4">
    <colgroup>
        <col class="bg-bluom-select-tint" />
        <col class="w-[55%] md:w-[70%]" />
    </colgroup>
    <QuickFactItem category="Pronouns" value="he/they" />
    <QuickFactItem category="Gender" value="Non-binary" />
    <QuickFactItem category="Favourite band" value="Radiohead" />
    <QuickFactItem category="Partner" value="93pigeons" link="https://93pigeons.tumblr.com" />
    <QuickFactItem category="Favourite colour" value="Nebula Blue" />
    <QuickFactItem category="Favourite game" value="Supaplex" />
</table>