---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {faTumblr} from '@fortawesome/free-brands-svg-icons'
import NavigationItem from './Navigation/NavigationItem.astro'
import { faFlask, faPenNib } from '@fortawesome/free-solid-svg-icons'
---
<div class="fixed right-0 top-0 flex flex-row-reverse font-sans-serif">
    <NavigationItem icon={faTumblr} link="https://666rigbys.tumblr.com" label="Tumblr" />
    <NavigationItem icon={faPenNib} link="#" label="Blog" />
    <NavigationItem icon={faFlask} link="#" label="Lab" />
</div>