---
import Slideshow from './Slideshow';
import fs from 'fs/promises';

const images = (await fs.readdir('./public/gallery')).map((item: string) => `/gallery/${item}`);
---

<div class="mt-2">
    <Slideshow client:load images={images} size={5} />
</div>