<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
	<title>benko11</title>
</head>
<body class="font-display bg-bluom-dark text-bluom-light">
    <slot />
</body>
</html>