---
import '../css/global.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
	<title>benko11</title>
</head>
<body class="bg-bluom-dark min-h-screen font-display text-bluom-light selection:bg-bluom-select flex flex-col items-center">
	<div class="w-[800px] max-w-[95%] pt-8 md:pt-36">
		<slot />
	</div>
</body>
</html>